/* specificity: inline(style attribute) > id > class > element  */
.title{
    color: red;
}
.subtitle{
    color:blue;
}


#contact-us{
    color:green;
}


/* PSEUDO SELECTOR */

h1:hover{
    color: purple;
}
/* when we over to the h1 it will turn to purple */

li:first-child{
    color: rgb(196, 196, 21);
}
li:last-child{
    color: rgb(236, 100, 123);
}
li:nth-child(2){
    color: rgb(75, 104, 201);
}
li:only-child{
    color: rgb(53, 189, 83);
}
/* only child will add property to only those li having one child */

#google-link:link{
    color: brown;
}

#google-link:visited{
    color: rgb(121, 31, 231);
}

/* TO APPLY STYLE TO EVERY <A> TAG THAT COMES AFTER h2 */

h2 + a{
    color: red;
}

/* to style a buttom which is post text area and both belong to same parent */

textarea ~ button {
    color: purple;
}

/* CHILD SELECTOR (every single child of the element)*/

ul > li {
    color: blue;
}
/* this will select every li in the ul */


/* ATTRIBUTE SELECTOR */

/* .subtitle{
    color:blue;
} */
this can also be written as 
h2[class=subtitle]{
    color:blue;
}





